html,
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  outline: 0;
}

main {
  display: block;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}

button,
input {
  overflow: visible;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button {
  border: 0;
  outline: 0;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

label {
  margin-bottom: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

:root {
  --html-fs: 1px;
  --html-fs-mobile: 0.7px;
  --ff: "Work Sans", sans-serif;
  --transition: 0.2s all ease-in-out;
  --c-primary: #8842f0;
  --c-text-white: #fff;
  --c-border: #eee;
  --black: #000;
  --c-terciary: #f9f1fe;
  --c-Paragraph: #262626;
  --c-Text: #575757;
  --Heading-2: 700 48rem / normal var(--ff);
  --Heading-3: 700 36rem / normal var(--ff);
  --Heading-4: 600 24rem / normal var(--ff);
  --Link: 400 16rem / normal var(--ff);
  --Paragraph: 400 16rem / normal var(--ff);
  --Service: 600 16rem / normal var(--ff);
  --Input: 400 14rem / normal var(--ff);
  --Button: 600 20rem / normal var(--ff);
}

html._theme:root {
  --c-primary: #59f042;
}

html {
  scroll-behavior: smooth;
  font-size: var(--html-fs);
}
@media (max-width: 576px) {
  html {
    font-size: var(--html-fs-mobile);
  }
}

html._overflow {
  overflow: hidden;
}
html._overflow body {
  overflow: hidden;
}

body {
  font-size: 16rem;
  font-family: var(--ff);
}

.container {
  max-width: calc(1170rem + 40rem);
  padding: 20rem;
  margin-inline: auto;
}

.title {
  margin-top: 111rem;
  margin-bottom: 70rem;
  color: var(--c-Paragraph);
  font: var(--Heading-2);
  text-align: center;
}
@media (max-width: 992px) {
  .title {
    margin-top: 75rem;
  }
}

.desc {
  color: var(--c-Paragraph);
  font: var(--Paragraph);
  max-width: 837rem;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 123rem;
}
@media (max-width: 992px) {
  .desc {
    margin-bottom: 40rem;
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 50rem;
  background: var(--c-primary);
  padding: 10rem 49rem;
  color: var(--c-terciary);
  font: var(--Button);
  transition: var(--transition);
}
@media (min-width: 992px) {
  .btn_primary:hover {
    background: #975af2;
  }
}

*::-webkit-scrollbar {
  width: 10rem;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0);
}

* ::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background-color: #d1d1d1;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  background: var(--c-text-white);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40rem 20rem 35rem;
  gap: 10rem;
}
@media (max-width: 992px) {
  .header__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "logo search" "menu . ";
    padding: 40rem 20rem 15rem;
  }
}
.header__backdrop {
  display: none;
}
@media (max-width: 992px) {
  .header__backdrop {
    transform: translateX(120%);
    display: block;
    transition: var(--transition);
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
  }
}
.header__logo {
  grid-area: logo;
  color: var(--c-Paragraph);
  font: var(--Heading-4);
}
.header__search {
  grid-area: search;
  position: relative;
  max-width: 278rem;
  width: 100%;
}
.header__search .material-icons {
  position: absolute;
  right: 15rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--c-text-white);
  font-size: 24rem;
  cursor: pointer;
}
.header__search input {
  width: 100%;
  border-radius: 50rem;
  background: var(--black);
  padding: 14rem 18rem;
  padding-right: 30rem;
  outline: 0;
  border: 0;
  font: var(--Input);
  color: var(--c-text-white);
}
.header__search input::placeholder {
  color: var(--c-text-white);
}
.header__search input::-webkit-search-cancel-button {
  display: none;
}
.header__ul {
  display: flex;
  align-items: center;
  gap: 24rem;
}
@media (max-width: 992px) {
  .header__ul {
    position: fixed;
    width: 70%;
    z-index: 9;
    height: 100%;
    flex-direction: column;
    left: 0;
    top: 0;
    background: var(--c-primary);
    align-items: center;
    justify-content: center;
    transform: translateX(-120%);
    transition: var(--transition);
  }
}
.header__ul._active {
  transform: translateX(0);
}
.header__ul._active ~ .header__backdrop {
  transform: translateX(0);
}
.header__ul .icon-close {
  position: absolute;
  top: 40rem;
  right: 40rem;
  color: var(--c-text-white);
}
.header__a {
  color: var(--black);
  font: var(--Link);
  position: relative;
}
.header__a::before {
  content: "";
  display: block;
  width: 0;
  height: 1rem;
  border-radius: 50%;
  bottom: -3rem;
  position: absolute;
  background: var(--c-primary);
  left: 50%;
  transform: translateX(-50%);
  transition: var(--transition);
}
@media (min-width: 992px) {
  .header__a:hover::before, .header__a._active::before {
    width: calc(100% - 8rem);
  }
  .header__a:hover, .header__a._active {
    color: var(--c-primary);
  }
}
@media (max-width: 992px) {
  .header__a {
    color: var(--c-text-white);
  }
}

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none;
}
@media (max-width: 992px) {
  .icon-menu,
  .icon-close {
    display: inline-block;
  }
}

.icon-menu {
  grid-area: menu;
}

.light {
  cursor: pointer;
}

.service__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370rem, 1fr));
  gap: 30rem;
}

.service-item {
  text-align: center;
  padding: 46rem 0 51rem 0;
  border-radius: 15rem;
  background: var(--c-terciary);
  transition: var(--transition);
}
@media (min-width: 992px) {
  .service-item:hover {
    background: var(--c-primary);
  }
  .service-item:hover .service-item__title, .service-item:hover .service-item__desc, .service-item:hover span {
    color: var(--c-text-white);
  }
  .service-item:hover svg path {
    fill: var(--c-text-white);
  }
}
@media (max-width: 576px) {
  .service-item {
    padding: 20rem 0;
  }
}
.service-item__img {
  margin-bottom: 27rem;
}
@media (max-width: 576px) {
  .service-item__img {
    width: 90rem;
    height: 90rem;
    margin-inline: auto;
  }
}
.service-item__title {
  color: var(--c-Paragraph);
  font: var(--Heading-4);
  margin-bottom: 17rem;
}
.service-item__desc {
  color: var(--c-Text);
  font: var(--Paragraph);
  margin-inline: auto;
  max-width: 318rem;
  margin-bottom: 18rem;
}
.service-item__a {
  display: inline-flex;
  gap: 2rem;
  justify-content: center;
}
.service-item__a span {
  color: var(--c-primary);
  font: var(--Service);
  text-decoration-line: underline;
}
@media (max-width: 576px) {
  .service-item__a span {
    font-size: 16px;
  }
}
.service-item__a svg path {
  transition: var(--transition);
}
.service-item__title, .service-item__desc,
.service-item span {
  transition: var(--transition);
}

.specialist__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30rem;
}
@media (max-width: 1200px) {
  .specialist__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 785px) {
  .specialist__list {
    grid-template-columns: 1fr;
  }
}

.specialist-item {
  border-radius: 20rem;
  background: var(--c-terciary);
  padding: 44rem 38rem 33rem;
}
.specialist-item__header {
  display: flex;
  align-items: center;
  gap: 13rem;
  margin-bottom: 25rem;
}
.specialist-item__img {
  flex-shrink: 0;
  width: 63rem;
  height: 63rem;
}
.specialist-item__img img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.specialist-item__name {
  color: var(--c-Paragraph);
  font: var(--Button);
  margin-bottom: 3rem;
}
.specialist-item__role {
  color: var(--c-Text);
  font: var(--Paragraph);
}
.specialist-item__desc {
  color: var(--c-Text);
  font: var(--Paragraph);
  margin-bottom: 38rem;
}

.join {
  margin-top: 129rem;
  margin-bottom: 131rem;
  padding: 80rem 20rem;
  border-radius: 10rem;
  background: #1c1b1f;
  display: grid;
  gap: 47rem;
}
@media (max-width: 992px) {
  .join {
    margin-bottom: 31rem;
  }
}
@media (max-width: 576px) {
  .join {
    margin-top: 70rem;
  }
}
.join__title {
  font: var(--Heading-3);
  color: var(--c-text-white);
  text-align: center;
}
@media (max-width: 370px) {
  .join__title {
    font-size: 26rem;
  }
}
.join__input {
  display: flex;
  align-items: center;
  max-width: 717rem;
  width: 100%;
  margin-inline: auto;
  border-radius: 50rem;
  background: #f9f1fe;
  padding-right: 14rem;
}
.join__input button {
  border-radius: 22rem;
  background: #8842f0;
  padding: 11rem 25rem;
  font: var(--Button);
  color: var(--c-text-white);
  cursor: pointer;
  display: inline-block;
  border: 0;
  outline: 0;
}
.join__input button .material-icons {
  display: none;
}
@media (max-width: 576px) {
  .join__input button {
    padding: 0;
    flex-shrink: 0;
    border-radius: 50%;
    width: 50rem;
    height: 50rem;
  }
  .join__input button .text {
    display: none;
  }
  .join__input button .material-icons {
    display: inline-block;
  }
}
.join__input input {
  width: 100%;
  padding: 21rem 31rem;
  background: transparent;
  border: 0;
  outline: 0;
  color: #000;
  font: var(--Paragraph);
}
.join__input input::placeholder {
  color: #6c6c6c;
}

.footer {
  background: #f9f1fe;
}
.footer__container {
  position: relative;
  padding: 106rem 20rem 81rem;
  display: grid;
  gap: 108rem;
  grid-template-columns: auto 1fr 1fr;
}
@media (max-width: 576px) {
  .footer__container {
    text-align: center;
    padding: 60rem 20rem 90rem;
  }
}
@media (max-width: 1200px) {
  .footer__container {
    grid-template-columns: 1fr 1fr;
    gap: 50rem;
  }
}
@media (max-width: 576px) {
  .footer__container {
    grid-template-columns: 1fr;
  }
}
.footer__brand {
  max-width: 431rem;
}
@media (max-width: 576px) {
  .footer__brand {
    margin-inline: auto;
  }
}
.footer__copy {
  position: absolute;
  bottom: 20rem;
  left: 50%;
  transform: translateX(-50%);
  color: #575757;
}
.footer__logo {
  color: var(--c-Paragraph);
  font: var(--Heading-4);
  margin-bottom: 26rem;
  display: inline-block;
}
.footer__desc {
  color: var(--c-Paragraph);
  font: var(--Paragraph);
}

.footer-info:not(:last-child) {
  margin-bottom: 27rem;
}
.footer-info__title {
  color: var(--c-Paragraph);
  font: var(--Button);
  margin-bottom: 9rem;
}
.footer-info__value {
  color: var(--c-Paragraph);
  font: var(--Paragraph);
  display: inline-flex;
  gap: 16rem;
}
.footer-info__value a {
  color: var(--c-Paragraph);
  transition: var(--transition);
}
@media (min-width: 992px) {
  .footer-info__value a:hover {
    color: var(--c-primary);
  }
}

.footer-hours__title {
  color: var(--c-Paragraph);
  font: var(--Button);
  margin-bottom: 17rem;
}
.footer-hours__value {
  color: var(--c-Paragraph);
  font: var(--Paragraph);
}
.footer-hours__value:not(:last-child) {
  margin-bottom: 15rem;
}

/*# sourceMappingURL=style.css.map */
