// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
$mobile-small: 370px;

:root {
  --html-fs: 1px;
  --html-fs-mobile: 0.7px;
  --ff: "Work Sans", sans-serif;
  --transition: 0.2s all ease-in-out;

  --c-primary: #8842f0;
  --c-text-white: #fff;
  --c-border: #eee;

  --black: #000;

  --c-Paragraph: #262626;
  --c-Text: #575757;

  --Heading-2: 700 48rem / normal var(--ff);
  --Heading-3: 700 36rem / normal var(--ff);
  --Heading-4: 600 24rem / normal var(--ff);
  --Link: 400 16rem / normal var(--ff);
  --Paragraph: 400 16rem / normal var(--ff);
  --Service: 600 16rem / normal var(--ff);
  --Input: 400 14rem / normal var(--ff);
  --Button: 600 20rem / normal var(--ff);
}

html._theme:root {
  --c-primary: #59f042;
}
