html {
  font-size: var(--html-fs);
  @include mobile {
    font-size: 0.7px;
  }
}

html._overflow {
  overflow: hidden;

  body {
    overflow: hidden;
  }
}

body {
  font-size: 16rem;
  font-family: var(--ff);
}
.container {
  max-width: calc(1170rem + 40rem);
  padding: 20rem;
  margin-inline: auto;
}
