html {
  font-size: var(--html-fs);
  @include mobile {
    font-size: var(--html-fs-mobile);
  }
}

html._overflow {
  overflow: hidden;

  body {
    overflow: hidden;
  }
}

body {
  font-size: 16rem;
  font-family: var(--ff);
}
.container {
  max-width: calc(1170rem + 40rem);
  padding: 20rem;
  margin-inline: auto;
}

.title {
  margin-top: 111rem;
  margin-bottom: 70rem;
  color: var(--c-Paragraph);
  font: var(--Heading-2);
  text-align: center;
  @include tablet {
    margin-top: 75rem;
  }
}

.desc {
  color: var(--c-Paragraph);
  font: var(--Paragraph);
  max-width: 837rem;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 123rem;
  @include tablet {
    margin-bottom: 40rem;
  }
}

.btn {
  border-radius: 50rem;
  background: var(--c-primary);
  padding: 10rem 49rem;
  color: var(--c-terciary);
  font: var(--Button);
  transition: var(--transition);

  &_primary {
    @include tablet-min {
      &:hover {
        background: lighten($c-primary, 5%);
      }
    }
  }
}
